
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #F55A5A;
     height: 55px;
     color: white;
}

.globe-icon {
     width: 24px;
     margin-right: 7px;
}

.header-text {
     font-size: 0.9rem;
     font-weight: 500;
     font-family: Inter, sans-serif;
}